/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/

@keyframes open{
    0%{
        height: 100vh;
        background-position-y: 5%;
    }
    100%{
        height: 80vh;
        background-position-y: 15%;
    }
}

@keyframes openNotHome{
    0%{
        height: 100vh;
        background-position-y: 5%;
    }
    100%{
        height: 20vh;
        background-position-y: 65%;
    }
}