@keyframes move{

    0%{
        background-position: 0px 0px;
    }
    25%{
        background-position: 50% 35%;
    }

    100%{
       background-position: 25% 50%;
    }
}


@keyframes bk{
    0%{
        background: rgba(0,0,0,1);
    }
    5%{
        background: rgba(0,0,0,0.6);
    }
    98%{
        background: rgba(0,0,0,0.6);
    }
    100%{
        background: rgba(0,0,0,1);
    }
}

@keyframes bkChange{
    0%{
       
        
    }
    50%{
        background: rgba(0,0,0,1);
    }
    60%{
        background: rgba(0,0,0,1);
    }
    100%{
        background: rgba(0,0,0,0);
    }
}
$bgTime: 20s;