@import "fn";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
#head{
    width: 100vw;
    height: 100vh;
    background: black;
    position: relative;
}
#splash{
    background-image: url("https://images.pexels.com/photos/726478/pexels-photo-726478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;

    animation: move $bgTime;
    animation-iteration-count: infinite;

}

#blackCurtain{
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;

    transition: 1s;
    z-index: 2;

}

.fadeBlack{
    animation: bk $bgTime;
    animation-iteration-count: infinite;
}
.fadeWhite{
    opacity: 0;
}

.changePage{
    animation: bkChange 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}


#info{
    display: flex;
    justify-content: center;
    z-index: 0;
    #navbar{
        align-items: flex-end;
        align-content: flex-end;
        display: flex;
        width: 55vw;
        height: 85vh;
        justify-content: space-around;
        
            .item a{
                color: white;
                padding: 0px 15px;
            }
            .item a{
                
                display: flex;
                justify-content: center;
                width: 100%;
                transition: 0.5s;
                font-size: 1.45em;
                letter-spacing: 3px;
            }

            .item a:hover{
                
                text-decoration: underline;
            }
            
    }      
}

#body{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(10,10,0,1);
}

#body1{
    width: 100vw;
    height: 100vh;

    *{
        color: white;
    }
    
    #titleDiv{
        width:100%;
        display: flex;
        justify-content: center;
        h1{
            font-weight: 700;
            letter-spacing: 5px;
            text-decoration: underline;
            color: rgba(245,254,240,0.9);
        }
    }
    #origin{
        display: flex;
        width: 100%;
        height: 35%;
        flex-direction: column;
        padding: 1vh 2vw;
        #subTitle{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-content: center;

        }
        #OBody{

            p{
                font-size: 1.25em;
            }
        }
        #o_img{
            width:100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        
        }
    }
    #factsList{
        display: flex;
        width: 100%;
        height: 35%;
        flex-direction: column;
        padding: 1vh 2vw;
        #f_subTitle{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-content: center;

        }
        #f_OBody{
            width: 100%;
            ul{
                display: flex;
                justify-content: flex-end;
                
            }
        }
        
    }
}