@import "fn";

*{
    margin:0;
    padding: 0;
    overflow: hidden;
}
#head{
    width: 100vw;
    height: 100vh;
    background: black;
}
#splash{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/726478/pexels-photo-726478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;

    transition: 2s;
    animation: move $bgTime;
    animation-iteration-count: infinite;
}

#blackCurtain{
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;

    animation: bk $bgTime;
    animation-iteration-count: infinite;
}

#info{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 0;
    #navbar{
        align-items: flex-end;
        align-content: flex-end;
        display: flex;
        width: 55vw;
        height: 85vh;
        justify-content: space-around;
        
            .item {
                color: white;
                padding: 0px 15px;
            }
            .item p{
                
                display: flex;
                justify-content: center;
                width: 100%;
                transition: 0.5s;
                font-size: 1.05em;
            }
            .item p::before{
                content: ' ';
                z-index: 0;
                position: absolute;
                top: 80vh ;
                width: 2%;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid white;
                transition: 0.5s;
                padding: 0 0 1.15em 0em;
            }
            .item p:hover::before{
                text-decoration: underline;
                border-bottom: 1px solid white;
                width: 10%;
            }
    }      
}
