@import "fn";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
#head{
    width: 100vw;
    height: 100vh;
    background: black;
    position: relative;
}
#splash{
    background-image: url("https://images.pexels.com/photos/726478/pexels-photo-726478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;

    animation: move $bgTime;
    animation-iteration-count: infinite;

}

#blackCurtain{
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;

    transition: 1s;
    z-index: 2;

}

.fadeBlack{
    animation: bk $bgTime;
    animation-iteration-count: infinite;
}
.fadeWhite{
    opacity: 0;
}

.changePage{
    animation: bkChange 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}


#info{
    display: flex;
    justify-content: center;
    z-index: 0;
    #navbar{
        align-items: flex-end;
        align-content: flex-end;
        display: flex;
        width: 55vw;
        height: 85vh;
        justify-content: space-around;
        
            .item a{
                color: white;
                padding: 0px 15px;
            }
            .item a{
                
                display: flex;
                justify-content: center;
                width: 100%;
                transition: 0.5s;
                font-size: 1.45em;
                letter-spacing: 3px;
            }

            .item a:hover{
                
                text-decoration: underline;
            }
            
    }      
}

#body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgba(20,10,0,0.9);
}